* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:hsl(212, 45%, 89%); 
  font-family:'Outfit', sans-serif;
  min-height: 100vh;

}

.container {
  width: 90%;
  max-width: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px; 
  background-color: hsl(0, 0%, 100%); 
  text-align: center;
  padding: 10px;
}


.container img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

h1 {
  font-size: 15px; 
  font-weight: 700;
  color: hsl(218, 44%, 22%); 
  margin: 20px 0;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%); 
  line-height: 1.6;
  margin: 0 0 20px;
}

.next-level {
  color: hsl(218, 44%, 22%); /* Adjust color if needed */
}

@media (max-width: 375px) {
  .container {
    padding: 15px;
  }
  
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 14px; 
    line-height: 1.5;
  }

}

@media (min-width: 768px) {
  .container {
    width: 320px; 
    padding: 20px; 
  }
}

h1 {
  font-size: 20px;
}

p {
  font-size: 16px; 
}
@media (min-width: 1440px) {
  .container {
    max-width: 500px;
  }
}

